<!DOCTYPE html>
<html>

<head>
  <title>Chatbot Interface</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>

<body>
  <div class="container">
    <div class="chatbox">
    </div>
    <div class="input-container">
      <input type="text" class="input-field" id="message-input" placeholder="Type your message...">
      <button class="send-button" onclick="sendMessage()">Send</button>
      <button class="send-button" onclick="summarizeAndSave()">Summarize</button>
    </div>
    <div class="summary">
      <p id="summary">

      </p>
    </div>
  </div>

  <script>
    function sendMessage() {
      var messageInput = document.getElementById("message-input");
      var message = messageInput.value;
      messageInput.value = "";
      var chatbox = document.getElementsByClassName("chatbox")[0];
      var botMessageContainer = document.createElement("div");
      botMessageContainer.className = "bot-message";
      botMessageContainer.textContent = message;
      chatbox.appendChild(botMessageContainer);
      var userMessageContainer = document.createElement("div");
      userMessageContainer.className = "user-message";
      chat_url = "./chat";
      fetch(chat_url, {
        method: 'POST',
        body: JSON.stringify({ message: message }),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(response => response.json())
        .then(data => {
          var userMessageContainer = document.createElement("div");
          userMessageContainer.className = "user-message";
          userMessageContainer.textContent = data.response;
          chatbox.appendChild(userMessageContainer);
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    function summarizeAndSave() {
      var chatbox = document.getElementsByClassName("chatbox")[0];
      var messageContainers = chatbox.getElementsByClassName("bot-message");
      var messages = [];

      for (var i = 0; i < messageContainers.length; i++) {
        var message = messageContainers[i].textContent;
        messages.push(message);
      }
      var summary_url = './summary';
      fetch(summary_url, {
        method: 'POST',
        body: JSON.stringify({ content: "" + messages }),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then(response => response.json())
        .then(data => {
          console.log("Chat Summary:", data.response);
          var summaryContainer = document.getElementById("summary");
          summaryContainer.textContent = data.response;
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }
  </script>
</body>

</html>